# Ignorar archivos y carpetas generados automáticamente
__pycache__/
*.pyc
*.pyo

# Ignorar documentacion generada automaticamente por Sphinx

docs/_build/

# Ignorar migraciones de Django
*/migrations/
db.sqlite3

# Ignorar archivos específicos

#.gitignore
virtual
venv
.vscode
comandos.txt
#tests
startbootstrap-sb-admin-gh-pages

*/codigos_qr/
*/profile_images/
