# Ignorar archivos específicos al fusionar la rama development en la rama main
.gitignore merge=ours
Dockerfile merge=ours
docker-compose.yml merge=ours
manage.py merge=ours
windows.bat merge=ours
requirements.txt merge=ours
cms/settings.py merge=ours

# Ignorar el directorio de pruebas (tests/) en cada aplicación
**/tests/** merge=ours
**/scripts/** merge=ours

