<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <!-- Agrega aquí tus enlaces a CSS o cualquier otra configuración -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div id="header">
        <!-- Aquí va el contenido del encabezado -->
    </div>

    <div id="content" class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <!-- Aquí va el contenido del pie de página -->
    </div>

    <!-- Agrega aquí tus enlaces a scripts o cualquier otro elemento al final del cuerpo del documento -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
