{% extends "base.html" %}

{% load static %}
{% block title %}Canvas Editor{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="{% static 'css/canvas.css' %}" rel="stylesheet" />
<script src="{% static 'js/filtro.js' %}"></script>

<h1>Canvas del Editor</h1>
<div class="canvas">
  <!-- Columna "En Progreso" -->
  <div class="column">
    <h2>
      En Progreso
      <a href="#" id="filter-button"><i class="fas fa-filter"></i></a>
    </h2>
    <div class="dropdown-menu" id="filter-options" style="display: none;">
      <ul>
        <li><a href="#" id="all-categories">Todas las categorías</a></li>
        {% for categoria in categorias %}
        <li><a href="#" class="category-filter" data-categoria="{{ categoria.id }}">{{ categoria.nombre }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <ul class="tarjetas" id="en-progreso-list">
      {% for publicacion in en_progreso %}
      <li class="en_progreso" id="{{ publicacion.id_publicacion }}" data-categoria="{{ publicacion.categoria.id }}">
        <a href="{% url 'publicaciones:editar_publicacion_editor' publicacion.id_publicacion %}">{{ publicacion.titulo }} ({{ publicacion.estado }})</a>
      </li>
      {% endfor %}
    </ul>

    <!-- Descripción para "En Progreso" -->
    <div class="description" id="categoria-description" style="display: none;"></div>
  </div>

  <!-- Columna "Completadas" -->
  <div class="column">
    <h2>Completadas</h2>
    <ul class="tarjetas" id="hecho-list">
      {% for publicacion in completadas %}
      <li class="completadas" id="{{ publicacion.id_publicacion }}">
        {{ publicacion.titulo }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
