{% extends 'base.html' %}

{% block title %}Canvas Autor{% endblock %}
{% block content %}
  <style>
    /* Estilos generales */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    /* Estilos para el canvas Kanban */
    .canvas {
      display: flex;
      justify-content: space-between;
    }

    .column {
      flex: 1;
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px;
      background-color: #f9f9f9;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .tarjetas {
      list-style-type: none;
      padding: 0;
    }

    .tarjeta {
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 10px;
      margin: 5px 0;
      cursor: pointer;
    }

    /* Estilos para el botón */
    .btn {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;      
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .btn-primary {
      background-color: #007bff;
    }

    .btn-warning {
      background-color: #ffc107;
      color: #000;
    }

    .btn:hover {
      opacity: 0.8;
    }
  </style>

  <h1>Canvas del Autor</h1>
    <!-- Botón para crear una nueva publicación -->
    <a href="{% url 'publicaciones:crear_publicacion' %}" class="btn btn-primary">Crear Nueva Publicación</a><br><br>
  <div class="canvas">
    <!-- Columna "Haciendo" -->
    <div class="column">
      <h2>En Progreso</h2>
      <ul class="tarjetas" id="haciendo-list">
        {% for publicacion in en_progreso %}
          <li class="tarjeta" id="{{ publicacion.id }}">
            <a href="{% url 'publicaciones:editar_publicacion_autor' publicacion.id %}">{{ publicacion.titulo }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Columna "Completadas" -->
    <div class="column">
      <h2>Completadas</h2>
      <ul class="tarjetas" id="hecho-list">
        {% for publicacion in completadas %}
          <li class="tarjeta" id="{{ publicacion.id }}">
            {{ publicacion.titulo }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

