    /* Estilos para el formulario de búsqueda */
    #search-form {
        display: flex;
        align-items: center;
        justify-content: center;
        /* Centrar horizontalmente */
        height: 80vh;
        /* Reduje la altura para subir el buscador */
    }

    #search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        /* Centrar horizontalmente */
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        width: 50%;
        margin-top: -300px;
        /* Margen superior para subir el buscador */
    }

    #search-container {
        position: relative;
    }

    #filter-icon {
        position: absolute;
        right: -25px;
        /* Ajusta la cantidad para mover el icono fuera del rectángulo */
        top: 50%;
        /* Centra verticalmente el icono */
        transform: translateY(-50%);
    }


    #q {
        border: none;
        outline: none;
        flex-grow: 1;
        width: 100%;
    }

    #q::placeholder {
        font-style: italic;
    }

    #search-icon {
        font-size: 20px;
        padding: 0 10px;
        /* Espacio a la izquierda y derecha del ícono */
        cursor: pointer;
        color: #777;
        /* Color del ícono */
    }

    #search-icon:hover {
        color: #333;
        /* Cambiar el color del ícono al pasar el mouse */
    }

    /* Agregar espacio entre los iconos de búsqueda y fa-cog */
    #search-icon {
        margin-right: 20px;
    }

    #gris {
        color: #777;
    }