/* Estilo para el contenedor de toda la página */
.contenedor {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el contenido */
    margin-top: 30px;
    /* Agrega espacio en la parte superior */
}

/* Estilo para el contenedor de cada publicación */
.publicacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinea el contenido en la esquina superior izquierda */
    margin-bottom: 20px;
    /* Espacio entre las publicaciones */
    padding: 20px;
    /* Espaciado interno para el recuadro de la publicación */
    position: relative;
    /* Añadimos posición relativa al contenedor de la publicación */
}

/* Estilo para el círculo de perfil, nombre del autor y fecha */
.perfil-nombre-fecha {
    display: flex;
    align-items: flex-start;
    /* Alinea los elementos verticalmente al principio */
    margin-bottom: 10px;
    /* Espacio entre el nombre del autor y la fecha */
}

/* Estilo para el nombre del autor en negrita */
.nombre-autor {
    color: #000;
    /* Color de texto negro */
}

/* Estilo para la fecha de publicación en tono gris */
.fecha-publicacion {
    color: #888;
    /* Color gris para la fecha */
}

.espacio-i-a {
    margin-right: 15px;
    /* Espacio entre el nombre del autor y la fecha */
}

.espacio-a-f {
    margin-right: 10px;
    /* Espacio entre el nombre del autor y la fecha */
}

/* Estilo para el título de la vista previa */
.titulo-previa {
    margin-bottom: 10px;
    /* Espacio entre el título y el contenido */
    overflow: hidden;
    /* Oculta el desbordamiento horizontal */
    white-space: nowrap;
    /* Evita el salto de línea en el título */
    text-overflow: ellipsis;
    /* Agrega puntos suspensivos al final del título si se desborda */
    font-size: 18px;
    /* Tamaño de fuente para el texto en el contenido */
    line-height: 1.5;
    /* Espaciado entre líneas */
    font-family: 'Sohne', sans-serif;
    /* Fuente genérica en caso de que la fuente específica no esté disponible */
    font-weight: 800;
    /* Establece el peso de la fuente en negrita (bold) */
    font-style: normal;
    /* Asegura que no haya estilo itálico */
    /* Puedes ajustar otros estilos según tus preferencias */
}

/* Estilo para el contenido del medio de la vista previa */
.contenido-medio-previa {
    font-size: 20px;
    /* Tamaño de fuente de 20px para el contenido del medio */
    text-align: justify;
    /* Justificar el texto entre los márgenes */
    line-height: 1.3;
    /* Espaciado entre líneas */
    word-spacing: -1px;
    /* Reducir el espacio entre palabras */
    overflow: hidden;
    /* Oculta el desbordamiento horizontal */
    text-overflow: ellipsis;
    /* Agrega puntos suspensivos al final del texto */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Muestra hasta 3 líneas de texto */
    -webkit-box-orient: vertical;
    color: #444;
    /* Color de texto negro más suave (#444) */
    font-family: 'charter';
    font-weight: 400;
    font-style: normal;
    src: url('https://glyph.medium.com/font/be78681/0-3j_4g_53_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/charter-400-normal.woff') format('woff');
    unicode-range: U+0-7F, U+A0, U+B7, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* Estilo para el enlace de la vista previa */
.enlace-previa {
    text-decoration: none;
    /* Sin subrayado */
    color: inherit;
    /* Color de texto heredado */
    position: relative;
    /* Añadimos posición relativa al enlace de la vista previa */
    width: 700px;
    /* Ancho fijo para el enlace */
    height: 100px;
    /* Altura fija para el enlace */
}

.contenido-previa {
    position: relative;
    width: 500px;
    /* Ancho fijo para el enlace */
    height: 100px;
    /* Altura fija para el enlace */
}

/* Estilo para .imagen-previa */
.imagen-previa {
    width: 100px;
    /* Tamaño deseado para la imagen de la vista previa (ancho) */
    height: 100px;
    /* Tamaño deseado para la imagen de la vista previa (alto) */
    top: 10px;
    /* Alineamos la parte superior de la imagen a 25px desde la parte superior del enlace de la vista previa */
    position: absolute;
    /* Añadimos posición absoluta para posicionarla en la esquina */
    bottom: 0;
    /* Alinea la parte inferior de la imagen con la parte inferior del enlace de la vista previa */
    right: 0;
    /* Alinea la parte derecha de la imagen con la parte derecha del enlace de la vista previa */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-previa img {
    width: 100%;
    /* Asegura que la imagen cubra todo el espacio disponible */
    height: 100%;
    /* Asegura que la imagen cubra todo el espacio disponible */
    object-fit: cover;
    /* Hace que la imagen cubra todo el espacio sin distorsión */
}

/* Estilo para la línea horizontal hr */
.hr {
    width: 700px;
    border: none;
    /* Elimina el borde predeterminado */
    height: 0.9px;
    /* Establece el grosor deseado (1 píxel en este caso) */
    background-color: #b4b2b2;
    /* Cambia el color de la línea a gris claro (puedes ajustarlo según tus preferencias) */
    margin: 40px 0;
    /* Agrega espacio vertical alrededor de la línea */
}

/* Estilo para la línea que muestra la categoría y el enlace de reportar */
.categoria-y-enlace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    /* Ancho fijo para la línea */
    margin-top: 10px;
    /* Espacio superior */
    color: #888;
    /* Color gris para el texto */
    margin-top: 60px;
    /* Agrega un espacio de 40px entre .enlace-previa y .categoria-y-enlace */
}

/* Estilo para el enlace de reportar */
.enlace-reportar {
    color: #888;
    /* Color gris para el enlace de reportar */
    text-decoration: none;
    /* Sin subrayado */
    margin-left: 10px;
    /* Espacio a la izquierda del enlace de reportar */
}

/* Estilo para el enlace de puntos suspensivos */
.puntos-suspensivos {
    font-size: 24px;
    /* Tamaño de fuente más grande */
    font-weight: bold;
    /* Texto en negrita */
    cursor: pointer;
    /* Cambiar el cursor al estilo de selección al pasar el mouse */
}

/* Ajuste de posición para el menú desplegable */
.dropdown-menu.dropdown-menu-end {
    left: auto;
    /* Alinea el menú desplegable a la derecha */
    right: 0;
    /* Alinea el menú desplegable a la derecha */
}

/* Estilo para la categoría destacada */
.categoria-destacada {
    background-color: #ececec;
    /* Fondo gris más suave */
    padding: 2px 6px;
    /* Espaciado interno más pequeño */
    border-radius: 10px;
    /* Borde redondeado */
    color: #000;
    /* Texto negro */
    font-size: 14px;
    /* Tamaño de fuente más pequeño */
    display: inline-block;
    /* Para que el fondo se ajuste al contenido */
}

/* Estilo para la barra lateral */
.barra-lateral {
    width: 300px;
    /* Ancho fijo de la barra lateral */
    height: 100%;
    /* Altura completa */
    position: sticky;
    top: 0;
    /* Alinea la barra lateral en la parte superior */
    background-color: white;
    /* Color de fondo de la barra lateral */
    padding: 20px;
    /* Espaciado interno */
    margin-left: 100px;
    /* Espaciado de 100px entre .enlace-previa y .barra-lateral */
}

/* Estilo para las categorías recomendadas */
.categorias-recomendadas {
    margin-bottom: 30px;
    /* Espacio inferior entre las categorías y "A quién seguir" */
}

/* Estilo para la lista de categorías */
.categorias-recomendadas ul {
    list-style: none;
    /* Elimina los puntos de lista */
    padding: 0;
    /* Elimina el espaciado interno de la lista */
}

/* Estilo para cada categoría */
.categorias-recomendadas li {
    margin-bottom: 20px;
    /* Espacio inferior entre categorías */
}

/* Estilo para "A quién seguir" */
.a-quien-seguir {
    margin-bottom: 30px;
    /* Espacio inferior entre "A quién seguir" y los usuarios */
}

/* Estilo para la lista de usuarios a seguir */
.a-quien-seguir ul {
    list-style: none;
    /* Elimina los puntos de lista */
    padding: 10px;
    /* Elimina el espaciado interno de la lista */
}

/* Estilo para cada usuario a seguir */
.a-quien-seguir li {
    margin-bottom: 10px;
    /* Espacio inferior entre usuarios */
}

.usuario {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* Espacio adicional entre usuarios */
}

.usuario img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.usuario span {
    font-weight: bold;
    margin-right: 20px;
    /* Espacio entre el nombre del usuario y el botón "Seguir" */
}

.seguir {
    text-decoration: none;
    background-color: #fff;
    /* Fondo blanco */
    color: #000;
    /* Texto negro */
    padding: 5px 10px;
    border: 2px solid #000;
    /* Borde negro */
    border-radius: 20px;
    /* Bordes redondeados para lograr la forma ovalada */
    margin-top: 5px;
    /* Espacio entre el botón "Seguir" y el siguiente usuario */
    display: inline-block;
    /* Para que el ancho del botón se ajuste automáticamente al contenido */
}

/* Estilo para Categorías Recomendadas y A quién seguir */
.categorias-recomendadas h3,
.a-quien-seguir h3 {
    font-family: 'Sohne', sans-serif;
    /* Fuente 'Sohne', sans-serif */
    font-size: 16px;
    /* Tamaño de fuente reducido */
    margin-bottom: 10px;
    /* Espacio entre el título y la lista */
    font-weight: bold;
    /* Texto en negrita */
}

.fijado {
    position: fixed;
}

.centrar-verticalmente {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Esto asegura que el contenedor ocupe toda la altura de la pantalla */
}

/* Estilo para el texto gris */
.texto-gris {
    color: gray;
}
.permalink {
    display: none;
}
