.kanban-columns {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.kanban-column {
    background-color: #f2f2f2;
    /* Fondo un poco más alejado del blanco */
    border: none;
    /* Sin borde */
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.kanban-column-title {
    background-color: #f2f2f2;
    /* Mismo color de fondo de la columna */
    padding: 8px;
    margin: -10px -10px 10px -10px;
    text-align: center;
    font-weight: bold;
    /* Texto en negrita */
    color: #0074b2;
    /* Color azul */
    border-top: 5px solid #0074b2;
    /* Borde superior */
}

.sortable-list {
    list-style: none;
    padding: 0;
}

.sortable-item {
    background-color: #fff;
    /* Tarjetas de color blanco */
    border: none;
    /* Sin borde */
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Sombra para efecto de flotación */
}

.sortable-item a {
    text-decoration: none;
    color: #333;
}