{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
  {{ form.media }}
  <link href="https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@100;200;300;400;500;600;700&display=swap"
    rel="stylesheet">
</head>
<style>
  /* Estilos para el contenedor */
  .container {
    max-width: 820px;
    /* Limita el ancho a 800px */
    margin: 0 auto;
    /* Centra el contenido horizontalmente */
    padding: 20px;
    /* Agrega un espacio alrededor del contenido */
  }
</style>
<div class="container"> <!-- Agrega una clase "container" para limitar el ancho -->
  <br>
  <h1>Crear Publicación</h1>
  <br>
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <br>
    <!-- Botones para enviar el formulario y cancelar -->
    <button type="submit" class="btn btn-primary" name="accion" value="crear">Crear Publicación</button>
    <button type="submit" class="btn btn-warning" name="accion" value="guardar_borrador">Guardar como Borrador</button>
    <a href="/" class="btn btn-danger">Cancelar</a>
  </form>
</div>
{% endblock %}