{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% load comments %}
{% load comments_xtd %}
{% comment %} {% comments_xtd_js %} {% endcomment %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<link href="{% static 'css/publicacion.css' %}" rel="stylesheet" />

<!--Si quieres que el publicador pueda desactivar solo desde el kanban, quitale rol_-->
{%if rol_publicador or user == publicacion.autor %}
    <script src="{% static 'js/activate.js' %}"></script>
{%endif%}

{% if rol_publicador or user|has_role:"administrador"%}
    <script src="{% static 'js/destacado.js' %}"></script>
{%endif%}

{%if not publicador %}
    <link href="{% static 'css/modal_qr.css' %}" rel="stylesheet" />
    <script src="{% static 'js/mostrar_qr.js' %}"></script>
    <script src="{% static 'js/track_view.js' %}"></script>

    {% if user.is_authenticated %}
        <script src="{% static 'js/like.js' %}"></script>
        <script src="{% static 'js/dislike.js' %}"></script>
        <script src="{% static 'js/calificacion.js' %}"></script>
    {% endif %}
{% endif %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@800&family=Black+Ops+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap" rel="stylesheet">

<div class="contenido">
    <div class="publicacion">
        <!--Si quieres que el publicador pueda desactivar solo desde el kanban, quitale rol_-->
        {% if rol_publicador or user == publicacion.autor %}
            <a class="btn-estado" data-publicacion-id="{{ publicacion.id_publicacion }}">
                {% if publicacion.activo %}
                    <i class="fas fa-toggle-on btn-encendido"></i> <span class="descripcion">Inactivar</span>
                {% else %}
                    <i class="fas fa-toggle-off btn-apagado"></i> <span class="descripcion">Activar</span>
                {% endif %}
            </a><br><br>                         
        {% endif %}

        {% if rol_publicador or user|has_role:"administrador"%}
            <a class="btn-destacado" data-publicacion_id="{{ publicacion.id_publicacion }}">
                {% if publicacion.destacado %}
                    <i class="fas fa-toggle-on btn-encendido-destacado"></i> <span class="descripcion-destacado">Quitar Destacado</span>
                {% else %}
                    <i class="fas fa-toggle-off btn-apagado-destacado"></i> <span class="descripcion-destacado">Destacar</span>
                {% endif %}
            </a><br><br>                         
        {% endif %}

        
        {% if user == publicacion.autor %}
            <h1 class="titulo" style="display: inline; margin-right: 10px;">{{ publicacion.titulo }}</h1>
            <span style="color: green; display: inline;">version ({{publicacion.version}})</span>        
            <br><br>
        {% else %}
            <h1 class="titulo">{{ publicacion.titulo }}</h1>
        {% endif %}
        <div class="informacion">
            
            <div class="perfil-info">
                <div class="imagen-perfil">
                    {% if publicacion.autor.imagen %}
                    <img src="{{ publicacion.autor.imagen.url }}" alt="Foto de perfil" class="rounded-circle" width="60" height="60" style="object-fit: cover; margin-top: -15px;">
                    {% else %}
                    <i class="fas fa-user"></i> <!-- Icono de persona si no hay foto de perfil -->
                    {% endif %}
                </div>
                <div class="datos-publicacion">
                    <div class="linea-1">
                        <span class="nombre-autor">{{ publicacion.autor.username }}</span>
                        <!-- Botón para seguir -->
                        <!-- <a href="#" class="seguir">Seguir</a>-->
                    </div>
                    <div>
                        <p class="linea-2">Publicado en <span class="categoria-destacada">{{ publicacion.categoria }}</span><span class="linea-2"> . {{ publicacion.fecha_creacion|date:"d, M Y" }}</span></p>
                    </div>
                </div>
            </div>
            {%if not publicador %}
                <div class="calificacion-estrellas"><br>
                    <div class="rating">
                        <a style="color: gray;" href="{% url 'publicaciones:calificar' publicacion.id_publicacion %}" class="star-link" data-rating="1" data-publicacion-id="{{ publicacion.id_publicacion }}"><span class="fa fa-star" style="font-size: 25px; margin-right: 7px"></span></a>
                        <a style="color: gray;" href="{% url 'publicaciones:calificar' publicacion.id_publicacion %}" class="star-link" data-rating="2" data-publicacion-id="{{ publicacion.id_publicacion }}"><span class="fa fa-star" style="font-size: 25px; margin-right: 7px"></span></a>
                        <a style="color: gray;" href="{% url 'publicaciones:calificar' publicacion.id_publicacion %}" class="star-link" data-rating="3" data-publicacion-id="{{ publicacion.id_publicacion }}"><span class="fa fa-star" style="font-size: 25px; margin-right: 7px"></span></a>
                        <a style="color: gray;" href="{% url 'publicaciones:calificar' publicacion.id_publicacion %}" class="star-link" data-rating="4" data-publicacion-id="{{ publicacion.id_publicacion }}"><span class="fa fa-star" style="font-size: 25px; margin-right: 7px"></span></a>
                        <a style="color: gray;" href="{% url 'publicaciones:calificar' publicacion.id_publicacion %}" class="star-link" data-rating="5" data-publicacion-id="{{ publicacion.id_publicacion }}"><span class="fa fa-star" style="font-size: 25px; margin-right: 7px"></span></a>
                        <span style="font-size: 20px; margin-left: 5px">
                            <span id="calificacion-cantidad" style="color: gray;">{{ publicacion.calificaciones_cantidad }}</span>
                        </span>
                    </div><br>
                    <span style="font-size: 20px;" id="calificacion-mensaje" data-id="{{ publicacion.id_publicacion }}">
                        <span id="mensaje-color"></span>
                    </span>                                
                </div><br>
            {% endif %}
            <!-- Línea que muestra la categoría y el enlace de reportar -->
            <div class="categoria-y-enlace">
                {%if not publicador %}    
                    <div class="reacciones">
                            <!-- Primer grupo de botones -->
                            <div class="btn-group">
                                <!-- Botón de Like con ícono personalizado -->
                                <a href="{% url 'publicaciones:like' publicacion.id_publicacion %}" class="like-button {% if ha_dado_like %}liked{% endif %}" data-publicacion-id="{{ publicacion.id_publicacion }}">
                                    <i class="far fa-thumbs-up icon-like"></i>
                                </a>
                                <p class="btn-icon cantidad" id="likes-count-{{ publicacion.id_publicacion }}">{{ publicacion.likes }}</p>
                                
                                <!-- Botón de No me gusta con ícono personalizado -->
                                <a href="{% url 'publicaciones:dislike' publicacion.id_publicacion %}" class="dislike-button {% if ha_dado_dislike %}disliked{% endif %}" data-publicacion-id="{{ publicacion.id_publicacion }}">
                                    <i class="far fa-thumbs-down icon-dislike"></i>
                                </a>
                                <p class="btn-icon cantidad" id="dislikes-count-{{ publicacion.id_publicacion }}">{{ publicacion.dislikes }}</p>
                                
                                <script>
                                    function toggleComentarios() {
                                        console.log("Función toggleComentarios llamada");
                                        var comentariosSection = document.getElementById('comentariosSection');
                                        if (comentariosSection.style.display === 'none' || comentariosSection.style.display === '') {
                                            comentariosSection.style.display = 'block';
                                        } else {
                                            comentariosSection.style.display = 'none';
                                        }
                                    }                                    
                                </script>

                                <!-- Botón de Comentar con ícono personalizado -->
                                <a href="#comentariosSection" onclick="toggleComentarios()">
                                    <i class="far fa-comment icon-comment {% if user.is_authenticated %}active{% endif %}"></i>
                                </a>
                                <p class="btn-icon cantidad">{{ publicacion.comments }}</p>
                            </div>

                        <!-- Espacio mayor entre los dos grupos de botones -->
                        <div class="espacio"></div>
                    
                        <!-- Segundo grupo de botones -->
                        <div class="btn-group">

                            <!-- Botón de Vistas con ícono personalizado -->
                            <i class="far fa-eye icon-view vistas"></i>
                            <p id="publicacion-data" data-id="{{ publicacion.id_publicacion }}" class="btn-icon cantidad">{{ publicacion.views }}</p>

                            <!-- Botón de Compartir con ícono personalizado -->
                            <a href="{% url 'publicaciones:generar_qr' publicacion.id_publicacion %}" class="compartir-btn" data-publicacion-id="{{ publicacion.id_publicacion }}">
                                <i class="fas fa-share icon-share"></i>
                            </a>
                            <span class="cantidad btn-icon" id="shared_count">{{ publicacion.shared }}</span>
                            
                            <!-- Modal para mostrar el código QR -->
                            <div id="qrModal" class="modal">
                                <div class="modal-content">
                                    <span class="close-modal">&times;</span>
                                    <img id="qrImage" src="" alt="Código QR">
                                </div>
                            </div>
                    
                            <!-- Enlace de puntos suspensivos para mostrar la opción de "Reportar" -->
                            <div class="dropdown">
                                <span class="fas fa-ellipsis-h puntos-suspensivos" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></span>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="#">Reportar</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>    
        </div>
        <div>{{ publicacion.texto | safe }}</div><br>

        <div class="comentarios">
            <h3>Comentarios</h3>
            {% render_xtdcomment_tree for publicacion %}
        </div>
        
        <div id="comentariosSection" style="display: none;">    
            {% if user.is_authenticated %}
                <div class="agregar-comentario">
                    <h4>Agregar comentario</h4>
                    {% render_comment_form for publicacion %}
                    <button id="cancelarBtn" type="button">Cancelar</button>
                </div>
            {% endif %}
        </div>

        <script>
            document.getElementById("cancelarBtn").addEventListener("click", function() {
                document.getElementById("comentariosSection").style.display = "none";
            });
        </script>   

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                let formulario = document.querySelector('.agregar-comentario form');
                
                if (formulario) {
                    formulario.addEventListener('submit', function(event) {
                        event.preventDefault();  // Evita el comportamiento predeterminado del formulario
            
                        let datosFormulario = new FormData(formulario);
            
                        fetch(formulario.action, {
                            method: 'POST',
                            body: datosFormulario
                        })
                        .then(response => {
                            if (response.ok) {
                                alert('Comentario enviado con éxito!');
                                location.reload();
                            } else {
                                alert('Hubo un error al enviar el comentario. Por favor, inténtalo de nuevo.');
                            }
                        })
                        .catch(error => {
                            alert('Hubo un error al enviar el comentario. Por favor, inténtalo de nuevo.');
                        });
                    });
                }
            });
            </script>
            

        {%if publicador %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" name="publicar">Habilitar</button>
                <a href="{% url 'kanban:kanban' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        {% endif %}
    </div>
</div>
<script>
    function toggleComentarios() {
        var section = document.getElementById("comentariosSection");
        if (section.style.display === "none") {
            section.style.display = "block";
        } else {
            section.style.display = "none";
        }
    }
</script>

{% endblock %}