{% extends 'base.html' %}

{% block content %}
<style>
  /* Estilos personalizados para el campo de entrada de texto */
/* Estilos personalizados para el campo de entrada de texto */
.custom-input {
  width: 35%; /* Hacer que el campo de entrada de texto tenga el mismo ancho que el párrafo */
  height: 200px; /* Ajustar la altura a tu preferencia */
  border: 1px solid #ccc; /* Agregar un borde ligero */
  border-radius: 5px; /* Hacer que las esquinas sean redondeadas */
  padding: 10px; /* Añadir un relleno para mejorar la apariencia */
  vertical-align: top; /* Alinear el texto en la parte superior del campo */
  box-sizing: border-box; /* Evitar que el relleno afecte al ancho y alto */
  resize: none; /* Deshabilitar la redimensión del textarea */
}

</style>
<div class="container">
  <h1>Rechazar Publicación</h1>
  <br><br>
  <form method="post">
    {% csrf_token %}
    <p>Por favor, ingrese una razón para rechazar esta publicación:</p>
    <textarea name="razon" required class="custom-input"></textarea>
    <br><br>
    <button type="submit" class="btn btn-danger" name="confirmar_rechazo">Confirmar Rechazo</button>
    <a href="{{ redirect_url }}" class="btn btn-primary">Cancelar</a>
  </form>
</div>
{% endblock %}
