{% extends 'base.html' %}
{% block title %}Cargar Imagen de Perfil{% endblock %}

{% block content %}
<style>
  /* Estilos para el contenedor principal */
  .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  /* Estilos para el formulario de carga de imagen */
  .upload-form {
    width: 400px; /* Aumenta el ancho del formulario */
    padding: 30px; /* Aumenta el espacio interno */
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .upload-form h2 {
    margin-bottom: 20px;
  }

  .upload-form label {
    font-weight: bold;
  }

  .upload-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Estilos para el botón de carga */
  .upload-button {
    margin-top: 15px;
  }

  .upload-button button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .upload-button button:hover {
    background-color: #0056b3;
  }
</style>

<div class="upload-container">
  <div class="upload-form">
    <h2>Cargar Imagen de Perfil</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'login:cargar_imagen' %}">
      {% csrf_token %}
      <label for="id_imagen">Selecciona una imagen:</label>
      <input type="file" name="imagen" id="id_imagen" accept="image/*" required>
      <div class="upload-button">
        <button type="submit">Cargar Imagen</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

