{% extends 'base.html' %}
{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<style>
  .center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px; /* Aumenta el espacio entre campos */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }

  input[type="text"]::placeholder,
  input[type="password"]::placeholder {
    text-align: center;
    color: #ccc;
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 15px; /* Aumenta el espacio entre campos y botón */
  }

  button:hover {
    background-color: #0056b3;
  }

  p {
    text-align: center;
    margin-top: 15px; /* Aumenta el espacio entre el párrafo y el enlace de registro */
  }

  h2 {
    margin-bottom: 15px; /* Aumenta el espacio debajo del título */
  }
</style>

<div class="center-form">
  <h2>Iniciar Sesión</h2>

  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <input type="text" name="username" placeholder="Usuario">
      {% if formulario.username.errors %}
      <ul class="errorlist">
        {% for error in formulario.username.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="form-group">
      <input type="password" name="password" placeholder="Contraseña">
      {% if formulario.password.errors %}
      <ul class="errorlist">
        {% for error in formulario.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <button type="submit">Iniciar Sesión</button>
  </form>

  <p>No tienes una cuenta? <a href="{% url 'login:registro' %}">Regístrate aquí</a></p>
</div>
{% endblock %}



