{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/gestion.css' %}" rel="stylesheet" />

<style>
    .limite {
        max-width: 200px;
    }
</style>
<div class="container">
    <br>
    <h1>Historial</h1>
    <br>
    {% if registros %}    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Título de la Publicación</th>
                    <th>Nuevo Estado</th>
                    <th>Canvas</th>
                    <th>Fecha de Cambio</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.publicacion_titulo }}</td>
                    <td>{{ registro.nuevo_estado }}</td>
                    <td>{{ registro.get_canvas_display }}</td>
                    <td>{{ registro.fecha_cambio }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="color: gray; margin-left: 5px;">No tienes registros</p>
    {% endif %}
    <a href="{% url 'kanban:kanban' %}" style="margin-left: 5px;">Volver al Tablero</a>
</div>
{% endblock %}
