<div class="modal fade" id="motivoModal" tabindex="-1" role="dialog" aria-labelledby="motivoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="motivoModalLabel">Motivo del Rechazo</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="motivoInput" class="form-control" placeholder="Ingrese el motivo del rechazo">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="guardarMotivoBtn">Guardar Motivo</button>
                <button type="button" class="btn btn-secondary" id="cerrarMotivoBtn">Cerrar</button>
            </div>
        </div>
    </div>
</div>
