{% extends "base.html" %}
{% load static %}
{% block title %}kanban{% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<link href="{% static 'css/tablero.css' %}" rel="stylesheet" />
<script src="{% static 'js/tablero.js' %}"></script>
<br>
<h2>Tablero kanban</h2>
<div class="kanban-columns">
    <!-- Columna "Borrador" -->
    <div class="kanban-column" id="borrador">
        <h5 class="kanban-column-title">Borrador</h5>
        <ul class="sortable-list">
            {% for publicacion in publicaciones_borrador %}
            <div class="columna" id="borrador">
                <li class="sortable-item" id="{{ publicacion.id_publicacion }}">
                    <a href="{% url 'publicaciones:editar_publicacion_autor' publicacion.id_publicacion %}">
                        {% include 'kanban/tarjeta.html' with publicacion=publicacion %}
                    </a>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
    <!-- Columna "Revisión" -->
    <div class="kanban-column" id="revision">
        <h5 class="kanban-column-title">Revisión</h5>
        <ul class="sortable-list">
            {% for publicacion in publicaciones_revision %}
            <div class="columna" id="revision">
                <li class="sortable-item" id="{{ publicacion.id_publicacion }}">
                    <a href="{% url 'publicaciones:editar_publicacion_editor' publicacion.id_publicacion %}">
                        {% include 'kanban/tarjeta.html' with publicacion=publicacion %}
                    </a>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
    <!-- Columna "Publicar" -->
    <div class="kanban-column" id="publicar">
        <h5 class="kanban-column-title">Publicar</h5>
        <ul class="sortable-list">
            {% for publicacion in publicaciones_publicar %}
            <div class="columna" id="publicar"> 
                <li class = "sortable-item" id="{{ publicacion.id_publicacion }}">
                    <a href="{% url 'publicaciones:mostar_para_publicador' publicacion.id_publicacion %}">
                        {% include 'kanban/tarjeta.html' with publicacion=publicacion %}
                    </a>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
    <!-- Columna "Publicado" -->
    <div class="kanban-column" id="publicado">
        <h5 class="kanban-column-title">Publicado</h5>
        <ul class="sortable-list">
            {% for publicacion in publicaciones_publicado %}
            <div class="columna" id="publicado">
                <li class = "sortable-item" id="{{ publicacion.id_publicacion }}">
                    {% include 'kanban/tarjeta.html' with publicacion=publicacion %}
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="motivoModal" tabindex="-1" role="dialog" aria-labelledby="motivoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="motivoModalLabel">Motivo del Rechazo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <input type="text" id="motivoInput" class="form-control" placeholder="Ingrese el motivo del rechazo">
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="guardarMotivoBtn">Guardar Motivo</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
    </div>
</div>

{% endblock %}
