<style>
    .tarjeta-fecha {
        font-size: 12px;
        color: #888;
        /* Gris */
    }

    .tarjeta-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tarjeta-categoria {
        padding: 0px 5px 3px;
        /* Ajustar el espacio vertical y horizontal */
        color: #fff;
        /* Blanco */
        border-radius: 5px;
    }

    .categoria-text {
        font-size: 13px;
    }

    .tarjeta-autor img {
        vertical-align: middle;
    }

    .tarjeta-autor-nombre {
        font-weight: bold;
        color: #000;
        /* Negro */
        margin-left: 5px;
    }

    .lamp {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: white;
        transition: box-shadow 0.3s ease-in-out;
        position: relative; /* Agregamos posición relativa */
        top: 1px;
        margin-left: 3px;   
        display: inline-block;
    }

    .red {
        background-color: rgb(255, 0, 0); /* Rojo brillante */
        box-shadow: 0 0 4px rgba(255, 0, 0, 0.8); /* Efecto de sombra */
    }

    .yellow {
        background-color: yellow;
        box-shadow: 0 0 4px rgba(255, 255, 0, 0.8);
    }

    .green {
        background-color: #00FF00; /* Un verde más brillante */
        box-shadow: 0 0 4px rgba(0, 255, 0, 0.8); /* Efecto de sombra */
    }

    .title-lamp {
        flex-direction: column;
    }

    .title {
        font-weight: bold;
        color: #0074b2;
        display: inline-block;
    }

    /* Resto de estilos como se definió previamente para .red, .yellow, .green, y .lamp */
</style>
<div class="tarjeta-contenido">
    <div class="title-lamp">
        <span class="title">{{ publicacion.titulo }} <span class="lamp {% if publicacion.semaforo == 'rojo' %}red{% elif publicacion.semaforo == 'amarillo' %}yellow{% elif publicacion.semaforo == 'verde' %}green{% endif %}"></span></span>
        
    </div>

    <span class="tarjeta-fecha">{{ publicacion.fecha_creacion|date:"d, M Y" }}</span>
    <br> <!-- Línea vacía -->
    <br> <!-- Línea vacía -->
    <div class="tarjeta-info">
        <div class="tarjeta-categoria" style="background-color: {{publicacion.categoria.color}}">
            <span class="categoria-text">{{ publicacion.categoria }}</span>
        </div>
        <div class="tarjeta-autor">
            {% if publicacion.autor.imagen %}
            <img src="{{ publicacion.autor.imagen.url }}" class="rounded-circle" width="30" height="30"
                style="object-fit: cover;">
            {% else %}
            <i class="fas fa-user"></i>
            {% endif %}
            <span class="tarjeta-autor-nombre">{{ publicacion.autor.username }}</span>
        </div>
    </div>
</div>