{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'css/buscador.css' %}" rel="stylesheet" />

<form id="search-form" action="{% url 'buscador' %}" method="GET">
    {% csrf_token %}
    <div id="search-container">
        <input type="text" id="q" name="q" placeholder="Buscar">
        <a id="gris" href="javascript:void(0);">
            <i class="fas fa-search"></i>
        </a>
        <div id="filter-icon">
            <a class="nav-link" id="btnMostrarBusquedaAvanzada" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-cog"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <h6 class="dropdown-header">Búsqueda Avanzada</h6>
                <div class="dropdown-item">{{ avanzada_form.as_p }}</div>
            </ul>
        </div>
    </div>
</form>
<div id="respuestas">
    {% if publicaciones %}
        <div id="results">
            {% include 'cms/publicaciones.html' %}
        </div>
    {% else %}
        <p id="respuesta">No hubo resultados</p>
    {% endif %}
</div>
<!-- Incluye el archivo JavaScript externo -->
<script src="{% static 'js/buscador.js' %}"></script>
{% endblock %}
