{% extends 'cms/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <div class="sidebar">
    <!-- Barra lateral con opciones de usuario -->
    <a href="{% url 'login:perfil' %}">{{ request.user.username }}</a>
    <a href="{% url 'login:cerrar_sesion' %}">Cerrar sesión</a>
  </div>
  <div class="content">
    <!-- Contenido principal de la página -->
    <h1>Página Principal</h1>
    <!-- Espacio para el buscador (aún no implementado) -->
  </div>
{% endblock %}

