{% load static %}
{% block content %}

{% if user.is_authenticated %}
<script src="{% static 'js/favorito.js' %}"></script>
{% endif %}


<style>
    .categoria-item {
        text-decoration: none;
        color: black;
        transition: color 0.2s;
    }

    .categoria-item a:hover {
        color: blue;
    }

    .chats-container {
        overflow-y: auto;
        overflow-x: hidden;
        height: 430px;
        scrollbar-width: thin;
        scrollbar-color: #888 #f0f0f0;
        margin-left: 30px;
    }

    .chats-container::-webkit-scrollbar {
        width: 10px;
    }

    .chats-container::-webkit-scrollbar-thumb {
        background-color: #888;
    }

    .chats-container::-webkit-scrollbar-track {
        background-color: #f0f0f0;
    }
</style>

<div class="barra-lateral">
    <h4 style="position: fixed; font-weight: bold;">Categorías Recomendadas</h4>
    <br><br>
    <div class="chats-container fijado">

        {%if categorias%}
        <!-- Categorías recomendadas -->
        <div class="categorias-recomendadas" style="margin-right: 130px;">
            
            <br>
            <ul>
                {% for categoria in categorias %}
                <li class="categoria-item">
                    <a class="categoria-item" href="{% url 'publicaciones_categoria' categoria.id %}">
                        {{ categoria}}
                    </a>
                    <span>
                        <a href="{% url 'administracion:favorito' categoria.id %}"
                            class="favorito-button {% if favorito %}favorito{% endif %}"
                            data-categoria-id="{{ categoria.id }}" style="text-decoration: none; color: inherit;"
                            title="Favorito">
                            {% if user in categoria.favorito_usuario.all%}
                            <i class="fa fa-heart icon-favorito" style="margin-left: 5px; color: #f91880;"></i>
                            {% else %}
                            <i class="far fa-heart icon-favorito" style="margin-left: 5px; color: gray;"></i>
                            {% endif %}
                        </a>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}