{% block content %}

<style>
    .categoria-item {
        text-decoration: none; /* Elimina el subrayado del enlace */
        color: black;          /* Establece el color del texto en negro */
        transition: color 0.2s; /* Agrega una transición suave para el cambio de color */
    }
    
    .categoria-item a:hover {
        color: blue;           /* Cambia el color del texto a azul al pasar el mouse por encima */
    }
</style>
        
<div class="barra-lateral">
    <div class="fijado">
        {%if categorias%}
        <!-- Categorías recomendadas -->
        <div class="categorias-recomendadas">
            <h3>Categorías Recomendadas</h3>
            <br>
            <ul>
                <!-- Itera sobre las primeras 8 categorías del contexto -->
                {% for categoria in categorias|slice:":8" %}
                <li class="categoria-item"><a class="categoria-item" href="{% url 'publicaciones_categoria' categoria.id %}">{{ categoria }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

<!--        {% if user.is_authenticated and usuarios %}
        
        <div class="a-quien-seguir">
            <h3>A quién seguir</h3>
            <ul>
        
                {% for usuario in usuarios|slice:":3" %}
                <li>
                    <div class="usuario">
        
                        {% if usuario.imagen %}
                        <img src="{{ usuario.imagen.url }}" alt="Foto de perfil" class="rounded-circle" width="40"
                            height="40" style="object-fit: cover; margin-top: -3px;">
                        {% else %}
                        <i class="fas fa-user" alt="Foto de perfil" class="rounded-circle" width="40"
                        height="40" style="object-fit: cover; margin-top: -3px; padding-right: 8px;"></i>

                        {% endif %}

        
                        <span>{{ usuario.username }}</span>
        
                        <a href="#" class="seguir">Seguir</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %} -->
    </div>
</div>

{% endblock %}