/* Estilos de la barra lateral */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #007BFF; /* Color azul Bootstrap */
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .sidebar a {
    display: block;
    color: white;
    margin-bottom: 15px;
    text-decoration: none;
  }
  
  /* Estilos del contenido principal */
  .content {
    margin-left: 270px; /* Espacio para la barra lateral */
    padding: 20px;
  }
  
/* Estilo para los enlaces de la barra lateral */
.sidebar a {
  text-decoration: none;
  color: white; /* Color de texto normal */
  display: block;
  padding: 10px 15px;
  background-color: #007BFF; /* Color de fondo ligeramente sombreado */
  border-radius: 8px; /* Borde redondeado para esquinas menos puntiagudas */
  transition: background-color 0.2s, color 0.2s; /* Transición suave de colores al pasar el cursor */
}

/* Cambio de estilo al pasar el cursor sobre los enlaces */
.sidebar a:hover {
  color: white; /* Cambio de color de texto al pasar el cursor */
}


