{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Asignar Permisos a Roles del Usuario</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.rol.id_for_label }}">Rol:</label>
            {{ form.rol }}
        </div>
        <div class="form-group">
            <label>Permisos:</label>
            <ul class="list-group">
                {% for permiso in form.permisos %}
                <li class="list-group-item">
                    {{ permiso }}
                </li>
                {% endfor %}
            </ul>
        </div>

        <button type="submit" class="btn btn-primary">Agregar</button>
        <a href="{% url 'administracion:gestion_usuarios' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
