{% extends 'base.html' %}
{% block content %}
<style>
    .container {
        max-width: 500px;
        margin: 0 auto;
        /* Centra el contenido horizontalmente */
        padding: 20px;
    }
</style>
<div class="container">
    <h1>Crear Nueva Categoría</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Crear</button>
        <a href="{% url 'administracion:gestion_categorias' %}" class="btn btn-secondary">Cancelar</a>
    </form>

    
</div>
{% endblock %}
