{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/gestion.css' %}" rel="stylesheet" />

<div class="container">
    <br>
    <h1>Gestión de Usuarios</h1>

    {% if usuarios %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Correo Electrónico</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    {% for rol in usuario.roles.all %}
                    {{ rol.nombre }}
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div>
                        <nav class="custom-nav">
                            <a href="{% url 'administracion:eliminar_usuario' usuario.id %}"
                                class="custom-nav-item">Eliminar Usuario</a>
                            <a href="{% url 'administracion:asignar_roles_usuario' usuario.id %}"
                                class="custom-nav-item">Asignar Roles</a>
                            <a href="{% url 'administracion:eliminar_roles_usuario' usuario.id %}"
                                class="custom-nav-item">Eliminar Roles</a>
                            <a href="{% url 'administracion:agregar_permisos_roles_usuario' usuario.id %}"
                                class="custom-nav-item">Agregar Permisos</a>
                            <a href="{% url 'administracion:eliminar_permisos_roles_usuario' usuario.id %}"
                                class="custom-nav-item">Eliminar Permisos</a>
                        </nav>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay usuarios disponibles.</p>
    {% endif %}
    <a href="{% url 'administracion:panel' %}" class="boton-principal">Volver al panel</a>
</div>

{% endblock %}