{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Panel de Administración</h1>

    <ul>
        <li><a href="{% url 'administracion:listar_categorias' %}">Gestión de Categorías</a></li>
        <li><a href="{% url 'administracion:gestion_usuarios' %}">Gestión de Usuarios</a></li>
    </ul>

    <!-- Aquí puedes agregar enlaces a otras secciones de administración si es necesario -->
</div>

<a href="/" class="boton-principal">Ir a la página principal</a>
{% endblock %}


