{% extends 'base.html' %}
{% load static %}
{% block title %}Administracion{% endblock %}
{% block content %}
<link href="{% static 'css/panel.css' %}" rel="stylesheet" />
<div class="admin-panel">
  <h1>Panel de Administración</h1>

  <div>
    <br>

    <a class="custom-nav custom-nav-item" href="{% url 'administracion:gestion_categorias' %}">Gestión de Categorías</a><br>
    <a class="custom-nav custom-nav-item" href="{% url 'administracion:gestion_usuarios' %}">Gestión de Usuarios</a><br>
    <a class="custom-nav custom-nav-item" href="/" class="boton-regresar">Ir a la página principal</a>

  </div>

</div>
{% endblock %}
